body {
	background-color: white;
	color: black;
    margin: 0;
	height: 100vh;
	overflow-x: hidden;
}

h1, h2, h3, h4{
	margin-top: 10px;
	font-family: 'Montserrat', sans-serif;
	color: black;
}

p, a, li {
	font-family: 'Montserrat', sans-serif;
	color: black;
	text-decoration: none;
}

canvas{
	margin: auto !important;
	width: 1200px !important;
	height: 900px !important;
}

a {
	font-weight: bold;
}

a:hover{
	color: rgb(255, 204, 0);
	
}

h1, h3{
	margin-bottom: 3px !important;
}

p.instructions{
	margin-top: 0px !important;
	padding: 5px !important;
	font-size: 0.7rem !important;
}


.container{
	width: 1200px;
	padding: 30px;
}

.container p{
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 0.8rem;
	margin-bottom: 10px;
}
